<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<link rel="stylesheet" href="css/styles.css">

<!-- embedded map starts here -->
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d117403.04464108497!2d76.90414411269087!3d23.139334880326263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x397cf36a4bac0fb9%3A0xce6c687b989469e1!2ssehore!3m2!1d23.2032399!2d77.0844044!4m5!1s0x397ce9ceaaaaaaab%3A0xa224b6b82b421f83!2svit%20bhopal!3m2!1d23.0774434!2d76.8512959!5e0!3m2!1sen!2sin!4v1664036182139!5m2!1sen!2sin" width="80%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<!-- embedded map ends here -->

<!-- vertical timeline starts here 
<div class="timeline">
    <div class="container left">
        <div class="date">01 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">05 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
    <div class="container left">
        <div class="date">10 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">15 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">20 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="date">25 Dec</div>
        <i class="icon fa fa-home"></i>
        <div class="content">
            <h2> lorem ipsum do re mi sa</h2>
            <p>
                Lorem ipsum....
            </p>
        </div>
    </div>
-->
<div class="container">

    <div class="box">
      <div class="container-3">
        <span class="icon"><i class="fa fa-search"></i></span>
        <!-- <input type="search" id="search" placeholder="Search..." /> -->
      </div>
    </div>

<!--
    <div class="leftbox">
      <nav>
        <a id="dashboard"><i class="fas fa-tachometer-alt"></i></a>
        <a id="profile"> <i class="fas fa-user"></i> </a>
        <a id="settings"> <i class="fas fa-cog"></i> </a>
        <a id="messages"> <i class="fas fa-comments"></i> </a>
        <a id="notification"> <i class="fas fa-bell"></i> </a>
      </nav>
    </div>
-->
    <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              28th September 2022, 7:00 AM
            </div>
            <div class="item-title">Your service person has left Bhopal and is on his way.</div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
                28th September 2022, 11:08 AM
            </div>
            <div class="item-title">Your service person has reached Sehore and is on his way.</div>
  
          </li>
  
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
                28th September 2022, 1:47 PM
            </div>
            <div class="item-title">Your service person has reached VIT Bhopal and should be arriving anytime soon.</div>
  
          </li>
  
        </ul>
  
      </div>
    </div>
  </div>
    


    <!-- vertical timeline ends here -->
</div>

<body>
    
</body>
</html>
